@charset "utf-8";
/* body{-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;} */
/* header{height:50px;line-height:50px} */
/*변경*/header{ border-bottom:none; background:#07aa9b; height:80px; line-height:80px; width:100%; position:absolute; left:0; right:0; z-index:10;}
/* header h2{font-size:20px} */
/*변경*/header h2 { text-align:center; color:#FFF; font-weight:normal; font-size:30px; line-height:80px; }
header .close-btn{width:50px;height:50px;}
header .close-btn:before, header .close-btn:after{left:15px;width:25px;height:5px;margin-top:-3px}
/* .contents-wrap{padding-top:50px} */
/*변경*/.contents-wrap { position:relative; flex:1 1 auto; height:100%; box-sizing:border-box; padding-top:80px; }
/* .contents-wrap > section{top:50px} */
/*변경*/.contents-wrap > section { position:absolute; left:0; right:0; top:80px; bottom:80px;/* bottom:60px; */ padding:30px 30px 30px; overflow:hidden; overflow-y:auto;  }
/* main footer{padding-top:15px;padding-bottom:15px} */
/*변경*/main footer { position:absolute; left:0; right:0; bottom:0; padding:0px; min-height:80px;/* min-height:60px; */ text-align:center; box-sizing:border-box; flex-flow:row wrap; display:block; background:none; border-top:1px solid #bbbbbb; }
/* main footer button[class*="btn"]{height:50px;min-width:100px;font-size:18px} */
/*변경*/main footer button[class*="btn"] { min-width:85px; /* height:40px; padding:0 15px; line-height:40px; font-size:20px; */ height:60px; padding:0 35px; line-height:60px; font-size:25px; margin-top:10px; color:#FFF; background-color:#07aa9b;border:none; }
/* main footer button + button{margin-left:20px} */
/*변경*/main footer button + button { margin-left:5px }

.card-wrap .sfp-grid-panel{
	background:#d7d7d7;
	scrollbar-3dlight-color:#d7d7d7;
	scrollbar-darkshadow-color:#d7d7d7;
	scrollbar-arrow-color:#d7d7d7;
	scrollbar-track-color:#d7d7d7;
}

.fix-height-box .container-item-wrap{height:100%;width:100%}
.container-item-wrap{width:90%;height:450px;margin:0 auto;overflow:hidden;box-sizing:border-box;border:1px solid #a2a2a2}
.container-item-wrap[data-container-type="pod"]{height:450px}
.container-item-wrap[data-container-type="box"]{height:350px}
.container-item-wrap .cell{display:block;float:left;border:1px solid #a3a3a3;cursor:pointer;box-sizing:border-box;text-align:center;font-size:14px;background:#efefef}
.container-item-wrap .cell.active{background-color:#0cd05f}
.container-item-wrap .cell.guide{background-color:rgba(198,229,253,1)}
.container-item-wrap .cell.guide.active{position:relative;color:#fff;background-color:#f93e6e}
.container-item-wrap .cell.guide.active:after{content:'';display:block;position:absolute;top:2px;left:2px;right:2px;bottom:2px;border:2px solid #fff}
.container-item-wrap .cell em:before{content:'';display:inline-block;height:100%;vertical-align:middle}

.barcode-guide{width:100%;padding:20px 20px 40px;box-sizing:border-box;border:2px solid #a2a2a2;background:#fff}
.barcode-guide .container-item-wrap{width:100%;height:100%}
.barcode-guide .container-item-wrap .cell{position:relative;padding:10px 10px 40px;cursor:default;text-align:center;font-size:30px;background:none}
.barcode-guide .container-item-wrap .cell:before{content:'';display:block;position:absolute;left:10px;right:10px;top:10px;bottom:40px;border:1px solid #a2a2a2}
.barcode-guide .container-item-wrap .cell:after{content:'barcode';display:block;position:absolute;bottom:5px;right:10px;width:70px;height:30px;line-height:30px;text-align:center;font-weight:bold;font-size:14px;color:#fff;background:#2e9c22}
.barcode-guide .container-item-wrap .cell em{z-index:1;position:relative;}
.barcode-guide .container-item-wrap .cell em:before{content:'';display:inline-block;height:100%;vertical-align:middle}
.barcode-guide.select-container{height:500px;position:relative}
.barcode-guide.select-container[data-container-type="box"]{height:500px}
.barcode-guide.select-container[data-container-type="pod"]{height:650px;padding-bottom:20px}
.barcode-guide.select-container:after{content:'box barcode';display:block;position:absolute;bottom:5px;right:20px;width:120px;height:30px;line-height:30px;text-align:center;font-weight:bold;font-size:16px;color:#fff;background:#2e9c22}
.barcode-guide.select-container[data-container-type="pod"]:after{display:none}

.card-wrap *::-webkit-scrollbar-track{ background:#d7d7d7; }
.card-wrap *::-webkit-scrollbar-track-piece{ background:#d7d7d7; }
.card-wrap *::-webkit-scrollbar-corner{ background:#d7d7d7; }

/* pop Table */
.sfp-grid th, .sfp-grid td{}
/* .sfp-grid thead th{font-size:20px;} */
/*변경*/.sfp-grid thead th { background:#bbbbbb; padding:25px 0 24px; /* padding:30px 0 27px; */ color:#333; border-top:0px; border-bottom:0px; border-left:0px; font-size:20px; vertical-align:middle; box-sizing:border-box; }
/* .sfp-grid tbody td{font-size:20px;line-height:30px;} */
/* .sfp-grid tbody td{font-size:32px;line-height:34px;} */
/*변경*/.sfp-grid tbody td { border-right:0px; border-left:0px; padding:21px 0 20px; font-size:20px; border-top:0px; background:#f0efef;  }
.sfp-grid tfoot td{font-size:16px;}
.sfp-grid.big tfoot td{font-size:22px;}

.sfp-grid button.btn-clear{margin-left:0;border:0;}
.sfp-grid button.btn-clear:after{background-size:50% auto;}
.sfp-grid label .check-mark{vertical-align:-7px}
.sfp-grid label .radio-mark{vertical-align:-7px}
.sfp-grid input[type="text"]{height:34px;line-height:34px;font-size:20px}
/* .sfp-grid.small thead th{font-size:18px} */
/*변경*/.sfp-grid.small thead th { padding:20px 0 17px; font-size:16px; }
/* .sfp-grid.small tbody td{font-size:16px;line-height:30px;} */
/*변경*/.sfp-grid.small tbody td { padding:9px 0 8px; font-size:16px; line-height: 30px; }

.sfp-grid input[type="text"],.sfp-grid.small input[type="text"]{height:34px;line-height:34px;font-size:20px;vertical-align:top;}
.sfp-grid.big input[type="text"]{height:41px;line-height:41px;font-size:23px;vertical-align:top;}
.sfp-grid button[class*="btn"]{ height:33px; line-height:33px;font-size:20px;padding:0 5px}
.sfp-grid.small button[class*="btn"] {height:30px;line-height:28px;}
.sfp-grid.big button[class*="btn"] {height:40px;line-height:38px;}

table[class*='sfp-grid'] thead th.arrow:after{right:0px;}

/* .register-table .title{flex:0 0 160px;width:160px;font-size:20px;}justify-content: flex-end */
/*변경*/.register-table .title{flex:0 0 160px;width:160px;font-weight:400; font-size:18px; padding:20px 0 18px;}/* justify-content: flex-end */
.register-table .title.left{justify-content: flex-start}
.register-table .cont{/* min-height:38px; */font-size:20px}
.register-table textarea{height:100px;font-size:16px}
.register-table .vertical .title{font-size:18px}
.register-table input[type="text"], .register-table input[type="number"], .register-table input[type="password"], .register-table input[type="date"], .register-table input[type="tel"]{height:35px;line-height:35px}
.register-table button[class*="btn"]{height:35px;line-height:33px}
/* .register-table select{height:35px;line-height:33px} */
/*변경*/.register-table select{font-size:18px;height:40px;line-height:33px}

/* pop form */
input[type="text"], input[type="password"], input[type="date"], input[type="tel"], input[type="number"]{font-size:16px;}
input[type="checkbox"] + .check-mark{min-height:30px;padding-left:30px;line-height:28px;font-size:16px}
input[type="checkbox"] + .check-mark:before{content:'';display:block;position:absolute;left:0;top:50%;width:28px;height:28px;margin-top:-14px;cursor: pointer;border:1px solid #ced3da;box-sizing:border-box;background:#fff}
input[type="radio"] + .radio-mark{min-height:30px;padding-left:30px;line-height:28px;overflow:hidden}
input[type="radio"] + .radio-mark:before{width:28px;height:28px;margin-top:-14px;}
input[type="radio"] + .radio-mark:after{display:inline-block;left:4px;width:20px;height:20px;margin-top:-10px;opacity:0;}
input[type="radio"]:checked + .radio-mark:after{opacity:1}

.sfp-grid.big input[type="checkbox"] + .check-mark:before {
	width: 40px;
	height: 40px;
	margin-top: -18px;
}
.sfp-grid.big input[type="checkbox"] + .check-mark{min-height:40px;padding-left:40px;line-height:40px;font-size:20px}

select{font-size:20px;}
/* check, hover 스타일 설정 IE, Chrome */
select option{font-size:26px}
label .label-text{font-size:18px}
input[type="radio"] + .radio-mark{font-size:16px}

.sfp-grid input[type="text"]{height:34px;line-height:34px;font-size:20px;vertical-align:top;}
.sfp-grid button[class*="btn"]{font-size:20px;padding:25px 10px; line-height: 0px; }

/*pop button */
button[class*="btn"]{font-size:18px}
button[class*="image"]{font-size:0 !important;}
/* button[class*="image"]:before{margin-top:0px} */
/*변경*/button[class*="image"]:before{margin-top:-6px; background: url(../../../images/btn/set_btn_function_w.png) no-repeat;}

input[type="checkbox"] + .check-mark:before{width: 30px;height:30px;margin-top:-15px;}

/*paging*/
.footer-wrap .footer-title{font-size:20px}
.paging-wrap a{position:relative;min-width:40px;height:38px;padding:0 10px;font-size:20px;line-height:36px;}
.paging-wrap a.prev,
.paging-wrap a.next,
.paging-wrap a.first,
.paging-wrap a.last{background:#fff}
.paging-wrap a.prev:after,
.paging-wrap a.next:after,
.paging-wrap a.first:after,
.paging-wrap a.last:after{content:'';display:block;position:absolute;left:50%;top:50%;width:30px;height:30px;margin:-15px 0 0 -15px;background:#fff url('../images/arrow/set_arr_pg.png') no-repeat; }
.paging-wrap a.prev:after{ background-position:0 -30px; }
.paging-wrap a.prev:hover:after{ background-position:-31px -30px; }
.paging-wrap a.prev[disabled]:after{ background-position:-62px -30px; }
.paging-wrap a.next:hover:after{ background-position:-31px 0; }
.paging-wrap a.next[disabled]:after{ background-position:-62px 0; }
.paging-wrap a.first:after{ background-position:0 -61px;}
.paging-wrap a.first:hover:after{ background-position:-31px -61px; }
.paging-wrap a.first[disabled]:after{ background-position:-62px -61px; }
.paging-wrap a.last:after{ background-position:0 -91px;}
.paging-wrap a.last:hover:after{ background-position:-31px -91px; }
.paging-wrap a.last[disabled]:after{ background-position:-62px -91px; }

@media print{
	.barcode-guide .container-item-wrap .cell:after{border:1px solid #a2a2a2}
	.barcode-guide.select-container:after{border:1px solid #a2a2a2}
	footer button{display:none}
}

/* MES */
.card-cont > .graph-area{position:relative;width:100%;height:100%;padding:0 15px 50px 0;box-sizing:border-box}
.card-cont > .graph-area .graph-btn-area{position:absolute;right:15px;bottom:10px}

.worker-list.fix-card{height:100%}
.worker-list.fix-card > ul{height:100%;box-sizing:border-box}
.worker-list li{position:relative;min-height:22%;overflow:hidden !important}
.worker-list li > div{position:absolute;top:50%;left:50%;display:block;width:100%;height:100%;font-size:1.8rem;text-align:center;color:#13958f;border:2px solid #00b5ad;border-radius:5px;transform: translate(-50%, -50%);white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.worker-list li > div:hover,.worker-list li > div:active,.worker-list li > div.selected{color:#fff;background-color:#13958f}
.worker-list li > div:before{content:'';display:inline-block;height:100%;vertical-align:middle}

.number-key{height:100%;padding:20px 0 10px;margin:0 -10px;box-sizing:border-box}
.number-key:after{content:'';display:block;clear:both}
.number-key > span{display:block;float:left;width:33.33%;height:25%;padding:10px;box-sizing:border-box}
.number-key > span > button{display:block;width:100%;height:100%;color:#444;font-size:40px;font-weight:500;border:2px solid #ddd;border-radius:5px;box-sizing:border-box}
.number-key > span > button:active{background-color:#1274a7;color:#fff}
.number-key > span > button.del{background:#8e8a8a;color:#fff}
.number-key > span > button.del:active{background-color:#1274a7}
.number-key > span > button.more{background:#e69b52;color:#fff}
.number-key > span > button.more:active{background-color:#1274a7}
/* .number-key > span > button.remove{font-size:0;background:url('./../images/btn/btn_remove.png') no-repeat 50% 50%} */
.number-key > span > button > span{display:block;font-size:12px}

.card-cont.key-wrap .number-key{padding-bottom:0}
.card-cont.key-wrap .footer-btn{position:absolute;left:0;right:0;bottom:0;}

.image-area {position:relative;width:100%;height:100%;overflow:hidden}
.image-area > img{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);max-width:100%;max-height:100%}

.grid-title{min-height:26px;font-size:18px}
.grid-cnt{position:absolute;right:10px;top:5px;font-size:16px}
.grid-cnt > strong{color:#dc090a}

.register-table.simple-list .cont{background:none}
input.unit{padding-right:35px}
input.unit + em{font-size:16px}
.card-area .card-inner h3{font-size:16px}

.label-text { font-size: 16px; }

.ui-datepicker{width:400px}
.ui-datepicker-calendar{width:100%}
.ui-datepicker-title{font-size:16px}
.ui-datepicker select{width:65px !important}
.ui-datepicker-calendar th{font-size:14px;text-align:center}
.ui-datepicker-calendar td a{width:50px;height:50px;font-size:16px;line-height:48px}

.picking-list.fix-card > ul{padding-bottom:10px}
.picking-list.fix-card > ul > li{width:49%;height:100%;border-radius:0;box-shadow:none;text-align:center;background:none}
.picking-list.fix-card > ul > li:first-child{width:24%}
.picking-list.fix-card > ul > li:last-child{width:24%}


/*wes */
.id-info{padding-bottom:10px;border-bottom:1px dashed #a2a2a2}
.id-info li + li{margin-top:8px}
.id-info li{font-size:0}
.id-info .title{display:inline-block;position:relative;width:30%;font-size:16px;}
.id-info .title:after{}
.id-info .cont{position:relative;display:inline-block;width:70%;padding-left:15px;font-size:16px;box-sizing:border-box}
.id-info .title + .cont:after{content:'';display:block;position:absolute;top:50%;left:0;width:1px;height:18px;margin-top:-9px;background:#a2a2a2}
.id-info .cont input{width:100%;font-size:16px;font-weight:700;}

.stock-list.fix-card{height:100%}
.stock-list.fix-card > ul{height:100%;padding-bottom:10px;box-sizing:border-box}
.stock-list.fix-card > ul > li{float:left;width:29%;height:100%;box-sizing:border-box}
.stock-list.fix-card > ul > li + li{width:69%}
.stock-list.fix-card .card-cont{padding:10px;box-sizing:border-box}
.stock-list.fix-card .fix-height-box{height:100%;padding-top:15px;box-sizing:border-box}
.stock-list.fix-card .sfp-grid th{text-align:center}

.fix-height-box .container-item-wrap{height:100%;width:100%}
.container-item-wrap{width:90%;height:450px;margin:0 auto;overflow:hidden;box-sizing:border-box;border:1px solid #a2a2a2}
.container-item-wrap .cell{display:block;float:left;border:1px solid #a3a3a3;cursor:pointer;box-sizing:border-box;text-align:center;font-size:14px;background:#efefef}
.container-item-wrap .cell.active{background-color:#0cd05f}
.container-item-wrap .cell.guide{background-color:rgba(198,229,253,1)}
.container-item-wrap .cell.guide.active{position:relative;color:#fff;background-color:#f93e6e}
.container-item-wrap .cell.guide.active:after{content:'';display:block;position:absolute;top:2px;left:2px;right:2px;bottom:2px;border:2px solid #fff}
.container-item-wrap .cell em:before{content:'';display:inline-block;height:100%;vertical-align:middle}

.picking-list.fix-card > ul{padding-bottom:10px}
.picking-list.fix-card > ul > li{width:49%;height:100%;border-radius:0;box-shadow:none;text-align:center;background:none}
.picking-list.fix-card > ul > li:first-child{width:24%}
.picking-list.fix-card > ul > li:last-child{width:24%}

body{position:relative; overflow:hidden; background:#f0efef; }
*::-webkit-scrollbar{ width:30px; padding:4px; border:1px solid #FFF; background: #FFF; border-radius:30px;   }
*::-webkit-scrollbar-button{ height:0px; background: #FFF;  }
*::-webkit-scrollbar-track{ background:transparent; }
*::-webkit-scrollbar-track-piece{ background:transparent; }
*::-webkit-scrollbar-thumb { background: #07aa9b; border-radius:20px; width:20px; border:6px solid transparent; background-clip:content-box;  }
*::-webkit-scrollbar-corner{ background:transparent;  }
.util-menu { position:absolute; right:0; top:0 }
.util-menu:after { content:''; display:block; clear:both }
.util-menu > ul > li { float:left; border-left:1px solid rgba(255,255,255,0.1); }
.util-menu > ul > li > a > span { display:inline-block; text-indent:-5000em; text-align:left }
.util-menu > ul > li { border-left:none; height:100px; }
.util-menu > ul > li > a { display:inline-block; min-width:52px; height:52px; text-align:right; margin:25px 30px 0 0;   }
.util-menu > ul > li > a.setting { background:url('../../../images/icons/icon_setting_kiosk.png') center center no-repeat;  }
.util-menu > ul > li > a.back { background:url('../../../images/icons/icon_back.png') center center no-repeat;   }
.util-menu > ul > li > a.trash { background:url('../../../images/icons/icon_trash_b.png') center center no-repeat; width:48px; height:55px; background-size:48px auto;  }
main { display:flex; width:100%; height:100%; box-sizing:border-box; }
header h1 { height:80px; position:absolute;  }
header h1 a { display:block; width:224px; height:100%; text-indent:-5000em; overflow:hidden; background:url('../../../images/logo/h1_logo_kiosk.png') no-repeat 30px center; padding:0px 0 0 0px; }
header span:before { display:none; }
main header ~ .contents-wrap {  }
.contents-wrap.no-footer > section { bottom:0px; }
.clear { content:''; clear:both; display:block;  }
main footer button[class*="btn"][class*="small"] { min-width:35px; height:35px; line-height:35px; padding:0 10px; }
main .contents-wrap + .contents-wrap + footer { z-index:10; border-top:1px solid #c9c9c9; background:#d7d7d7 }
main .contents-wrap + .contents-wrap.no-line + footer { border-top:0 }
h2.grid-title { font-size:18px; font-weight:300; color:#808285; padding-left:0px;  }
.sfp-grid-body-panel { height:710px; }
.sfp-grid td.left, .sfp-grid td.right { padding:21px 10px 20px; }
.sfp-grid tbody td a.trash { display:inline-block; background:url('../../../images/icons/icon_trash.png') no-repeat; width:30px; height:36px; background-size:100% auto; text-align:center; text-indent:-5000em;   }
.sfp-grid tbody tr.selected td { background-color:#fbd7d7; }
.sfp-grid tbody tr:hover td{ background-color:#fbd7d7;   }
.sfp-grid tbody td.img { text-align:center; margin:0 auto;  }
.sfp-grid tbody td.img img { max-width:57px; max-height:57px; text-align:center;   }
.sfp-grid.big thead th { padding:40px 0 30px; font-size:22px;   }
.sfp-grid.big tbody td { padding:38px 0 35px; font-size:22px;  }
.border-style thead th { border-right:1px solid #f0efef; }
.border-style tbody td { border-bottom:1px solid #bbb; border-right:1px solid #bbb;  }
.sfp-grid-header-panel::-webkit-scrollbar { background:#bbbbbb; border:none; border-radius:0px;  }
button[class*="btn"] { font-weight:300; border:none; background:#07aa9b; color:#FFF; border-radius:3px; font-size:20px; padding: 0px 5px;}
button[class*="btn"].btn-sq { width:115px; height:115px; border:1px solid #bbbbbb; padding-top:80px; color:#000000; font-size:16px; font-weight:300;    }
button[class*="btn"].btn-sq.on  { border:2px solid #6ec7be; }
button[class*="btn"].btn-ok { width:80px; height:80px; background:url('../../../images/icons/btn_ok.png') 0 0 no-repeat; background-size:100% auto; border:none; text-indent:-5000em; }
button[class*="btn"].btn-cancel.image { width:60px; height:60px; background:url('../../../images/icons/btn_cancel_s.png') 0 0 no-repeat; background-size:100% auto; border:none; text-indent:-5000em; }
button[class*="btn"].btn-sq-s { width:75px; height:75px; border:1px solid #959595; background:#FFF; color:#000000;   }
button[class*="btn"].red { border-radius:3px; color:#FFF; font-size:16px; }
button[class*="btn"].btn-add { color:#fff; background-color:#07aa9b; border-radius:3px;  }
button[class*="btn"].btn-enter { background:transparent url('../images/btn/btn_enter.png') center 0px no-repeat; background-size:47px 70px; width:47px; height:70px; text-indent:-5000em;  }
button[class*="image"]:before { background:none;}
button[class*="btn"].btn-call { width:100%; height:100px; font-size:25px; color:#FFF; background:#a0b5c7 url('../../../images/btn/btn_call_s.png') calc(50% + 40px) center no-repeat; background-size:82px 72px; text-align:center; padding:0px 70px 0 0; margin:13px auto 0; border-radius:0px; }
.btn-area { border-top:1px solid #bbbbbb; border-bottom:1px solid #bbbbbb; background:#f0efef; height:80px; position:relative; width:100%; text-align:center; box-sizing:border-box; }
.btn-area .cnt { position:absolute; line-height:80px; color:#000000; font-size:27px; font-weight:400; width:380px; text-align:center; }
.btn-area .cnt strong { font-weight:normal;  }
.btn-area .updown { width:600px; margin:0 auto; display:inline; height:80px;  }
.btn-area .updown li { display:inline-block; text-align:center; width:300px; height:80px; position:relative;  }
.btn-area .updown li a { display:block; height:80px;  }
.btn-area .updown li.up { background:url('../../../images/arrow/icon_up.png') center center no-repeat; background-size:58px 33px; text-indent:-5000em; }
.btn-area .updown li.down { background:url('../../../images/arrow/icon_down.png') center center no-repeat; background-size:58px 33px; text-indent:-5000em; }
.btn-area li:after { content:''; position:absolute; top:50%; right:0; margin-top:-25px; width:1px; height:50px; background:#959595; }
.btn-area li:last-child:after { background:none; }
.btn-area .btn { margin:0 auto; display:inline; height:80px; display:table; width:100%; table-layout:fixed; }
.btn-area .btn li { display:table-cell; text-align:center; height:80px; position:relative; box-sizing:border-box; }
.btn-area .btn li button[class*="btn"] { border:0px; color:#000000; font-size:21px; font-weight:300; }
.top-title { margin:0px 0 0px; position:relative; height:80px; }
.top-con { display:table; width:100%; table-layout:fixed; }
.top-title.top-conbtn { height:130px;  }
.top-title.top-conbtn .top-con { width:calc(100% - 150px); }
.top-btn { position:absolute; top:7px; right:0; }
.top-title dl { display:table-cell; font-size:18px; font-weight:300; position:relative; height:60px; width:20%; border-bottom:1px solid #bbbbbb; }
.top-title dt { position:absolute; top:3px; left:0px; color:#808285; font-weight:300; width:auto; padding:0px; }
.top-title dd { position:absolute; top:30px; left:0; right:0; text-align:center; color:#000; font-weight:300; box-sizing:border-box; width:100%; padding:0px;  }
.top-title dl:first-child {  }
.top-title dl.w2 { width:40%; }
.top-title dl.w3 { width:60%; }
.top-title dl.w4 { width:80%; }
.function-area .total { font-size:18px; font-weight:300; color:#808285;margin-bottom:10px;   }
.set-box .login { padding:0px 0px 0;  }
.set-box .login-in ul { text-align:left; position:relative;  }
.set-box .login-in ul li.tit { font-weight:300; font-size:30px; color:#959595;  }
.set-box .login-in ul li.inp { border-bottom:1px solid #bfbfbf; height:50px; margin:10px 0 40px;  }
.set-box .login-in ul li.inp input { height:50px; width:90%; font-size:28px; color:#959595; font-weight:200; border:none; padding:0;background:transparent;  }
.set-box .login-in ul li.btn { position:absolute; top:70px; right:0px;  }
.set-box .login-btn { margin-top:-10px; text-align:center;  }
.set-box .login-btn button[class*="btn"].btn-ok { width:80px; height:120px; background:url('../images/btn/btn_ok.png') 0 0 no-repeat; background-size:100% auto; border:none; font-size:22px; font-weight:200; color:#959595; text-indent:initial; padding-top:90px;   }
.register-table .cont input { height:40px; line-height:40px; font-size:18px}
.register-table select option{font-size:18px;height:40px;}

.display-3-wrap { float:left; width:100%; margin:20px 0 30px;  }
.display-3-wrap .display-in { float:left; width:32%; margin-right:2%; vertical-align:top; position:relative; border-top:1px solid #bbbbbb; border-bottom:1px solid #bbbbbb;   }
.display-3-wrap .display-in:last-child { margin-right:0%; }
.display-3-wrap .display-in .display-tit { font-size:25px; color:#000000; font-weight:500; margin:20px 0 40px; }
.re-display .shelf-cont { border-top:0px; border-bottom:0px; }
.re-display .btn-area { border-top:0px; border-bottom:0px; height:140px; }





.function-area input {width:250px !important; height:40px !important; font-size: 20px;}
.function-area.small input {width:200px !important; font-size: 18px;}
.function-area.big input {width:300px !important; font-size: 22px;}

.function-area select {width:250px !important; height:40px !important; font-size: 20px;}
.function-area.small select {width:200px !important; font-size: 18px;}
.function-area.big select {width:300px !important; font-size: 22px;}


.function-area.small .label-text{font-size:18px}
.function-area .label-text{font-size:20px}
.function-area.big .label-text{font-size:22px}

button[class^="btn"] { font-size: 20px; height: 40px; padding: 0 10px; }

@keyframes blink {
	0% {background-color: #008800; color: #fff; }
	50% {background-color: #f0efef; color: #444; }
}
/* for Chrome, Safari */
@-webkit-keyframes blink {
	0% {background-color: #008800; color: #fff;}
	50% {background-color: #f0efef; color: #444; }
}

@keyframes blink2 {
	0% {background-color: yellow; color: #fff;}
	50% {background-color: #f0efef; color: #444; }
}
/* for Chrome, Safari */
@-webkit-keyframes blink2 {
	0% {background-color: yellow; color: #fff;}
	50% {background-color: #f0efef; color: #444; }
}
