@charset "utf-8";

body { background:#FFF; }

header{height:50px;line-height:50px}
header h2{font-size:20px}
header .close-btn{width:50px;height:50px;}
header .close-btn:before, header .close-btn:after{left:15px;width:25px;height:5px;margin-top:-3px}


body > main > header { border-bottom:none; background:#00235D; height:55px; position:fixed; border-bottom-right-radius:5px; border-bottom-left-radius:5px; border-top-right-radius:0px; border-top-left-radius:0px; padding-left:0px;  }
body > main > header h1 a,
body > main > header h1 { color:#FFF; font-size:20px; line-height:55px; font-weight:normal; text-align:center; }
body > main > header a.back { display:block; width:33px; height:33px; text-indent:-5000em; overflow:hidden; background:url('../../../images/ilc/icon_back_pda.png') no-repeat 0 0; background-size:100% auto; position:absolute; top:11px; right:20px; padding-left:0px; }


.contents-wrap{padding-top:50px}
.contents-wrap > section{top:50px; padding:25px 20px 0px;}

main footer{padding-top:15px;padding-bottom:15px}
main footer button[class*="btn"]{height:50px;min-width:100px;font-size:18px}
main footer button + button{margin-left:20px}

main .contents-wrap { padding:75px 20px 90px; height:100%; overflow-y:auto; position:relative; background:#FFF;  }
main > header > h2 { color:#fff; border-bottom:2px solid #fff; background:#0099d9; }
main > .contents-wrap > footer { background:#a0b5c7; height:75px; bottom:0px; padding:2.5px 15px; border-top-left-radius:5px; border-top-right-radius:5px; z-index: 201; }

.container-item-wrap{width:300px;height:450px;margin:0 auto;overflow:hidden;box-sizing:border-box;border:1px solid #a2a2a2}
.container-item-wrap[data-container-type="pod"]{height:450px}
.container-item-wrap[data-container-type="box"]{height:350px}
.container-item-wrap .cell{display:block;float:left;border:1px solid #a3a3a3;cursor:pointer;box-sizing:border-box;background:#efefef}

.barcode-guide{width:100%;padding:20px 20px 40px;box-sizing:border-box;border:2px solid #a2a2a2;background:#fff}
.barcode-guide .container-item-wrap{width:100%;height:100%}
.barcode-guide .container-item-wrap .cell{position:relative;padding:10px 10px 40px;cursor:default;text-align:center;font-size:30px;background:none}
.barcode-guide .container-item-wrap .cell:before{content:'';display:block;position:absolute;left:10px;right:10px;top:10px;bottom:40px;border:1px solid #a2a2a2}
.barcode-guide .container-item-wrap .cell:after{content:'barcode';display:block;position:absolute;bottom:5px;right:10px;width:70px;height:30px;line-height:30px;text-align:center;font-weight:bold;font-size:14px;color:#fff;background:#2e9c22}
.barcode-guide .container-item-wrap .cell em{z-index:1;position:relative;}
.barcode-guide .container-item-wrap .cell em:before{content:'';display:inline-block;height:100%;vertical-align:middle}
.barcode-guide.select-container{height:500px;position:relative}
.barcode-guide.select-container[data-container-type="box"]{height:500px}
.barcode-guide.select-container[data-container-type="pod"]{height:650px;padding-bottom:20px}
.barcode-guide.select-container:after{content:'box barcode';display:block;position:absolute;bottom:5px;right:20px;width:120px;height:30px;line-height:30px;text-align:center;font-weight:bold;font-size:16px;color:#fff;background:#2e9c22}
.barcode-guide.select-container[data-container-type="pod"]:after{display:none}


/* pop Table */
.sfp-grid th, .sfp-grid td{}
/* .sfp-grid-body-panel {height:821px;} */
.sfp-grid thead th{font-size:20px;}
.sfp-grid tbody td{font-size:20px;line-height:30px;}
.sfp-grid tfoot td{font-size:16px;}
.sfp-grid button.btn-clear{margin-left:0;border:0;}
.sfp-grid button.btn-clear:after{background-size:50% auto;}
.sfp-grid label .check-mark{vertical-align:-7px}
.sfp-grid label .radio-mark{vertical-align:-7px}
.sfp-grid input[type="text"]{height:34px;line-height:34px;font-size:20px}
.sfp-grid input[type="text"],.sfp-grid.small input[type="text"]{height:34px;line-height:34px;font-size:20px;vertical-align:top;}
.sfp-grid button[class*="btn"]{line-height:33px;font-size:20px;padding:0 5px}
.sfp-grid.small button[class*="btn"] {height:30px;line-height:28px;}

.register-table .title{flex:0 0 160px;width:160px;font-size:20px}
.register-table .cont{font-size:20px}
/* pop form */
input[type="text"], input[type="password"], input[type="date"], input[type="tel"], input[type="number"]{font-size:16px;}
input[type="checkbox"] + .check-mark{min-height:30px;padding-left:30px;line-height:28px;font-size:16px}
input[type="checkbox"] + .check-mark:before{content:'';display:block;position:absolute;left:0;top:50%;width:28px;height:28px;margin-top:-14px;cursor: pointer;border:1px solid #ced3da;box-sizing:border-box;background:#fff}
select{font-size:20px;}
/* check, hover 스타일 설정 IE, Chrome */
select option{font-size:26px}

/*pop button */
button[class*="btn"]{font-size:18px}
button[class*="image"]{font-size:0;}


/*paging*/
.footer-wrap .footer-title{font-size:20px}
.paging-wrap a{position:relative;min-width:40px;height:38px;padding:0 10px;font-size:20px;line-height:36px;}
.paging-wrap a.prev,
.paging-wrap a.next,
.paging-wrap a.first,
.paging-wrap a.last{background:#fff}
.paging-wrap a.prev:after,
.paging-wrap a.next:after,
.paging-wrap a.first:after,
.paging-wrap a.last:after{content:'';display:block;position:absolute;left:50%;top:50%;width:30px;height:30px;margin:-15px 0 0 -15px;background:#fff url('../images/arrow/set_arr_pg.png') no-repeat; }
.paging-wrap a.prev:after{ background-position:0 -30px; }
.paging-wrap a.prev:hover:after{ background-position:-31px -30px; }
.paging-wrap a.prev[disabled]:after{ background-position:-62px -30px; }
.paging-wrap a.next:hover:after{ background-position:-31px 0; }
.paging-wrap a.next[disabled]:after{ background-position:-62px 0; }
.paging-wrap a.first:after{ background-position:0 -61px;}
.paging-wrap a.first:hover:after{ background-position:-31px -61px; }
.paging-wrap a.first[disabled]:after{ background-position:-62px -61px; }
.paging-wrap a.last:after{ background-position:0 -91px;}
.paging-wrap a.last:hover:after{ background-position:-31px -91px; }
.paging-wrap a.last[disabled]:after{ background-position:-62px -91px; }

@media print{
	.barcode-guide .container-item-wrap .cell:after{border:1px solid #a2a2a2}
	.barcode-guide.select-container:after{border:1px solid #a2a2a2}
	footer button{display:none}
}

/*wes */

.id-info{padding-bottom:10px;border-bottom:1px dashed #a2a2a2}
.id-info li + li{margin-top:8px}
.id-info li{font-size:0}
.id-info .title{display:inline-block;position:relative;width:30%;font-size:16px;}
.id-info .title:after{}
.id-info .cont{position:relative;display:inline-block;width:70%;padding-left:15px;font-size:16px;box-sizing:border-box}
.id-info .title + .cont:after{content:'';display:block;position:absolute;top:50%;left:0;width:1px;height:18px;margin-top:-9px;background:#a2a2a2}
.id-info .cont input{width:100%;font-size:16px;font-weight:700;}

.stock-list.fix-card{height:100%}
.stock-list.fix-card > ul{height:100%;padding-bottom:10px;box-sizing:border-box}
.stock-list.fix-card > ul > li{float:left;width:29%;height:100%;box-sizing:border-box}
.stock-list.fix-card > ul > li + li{width:69%}
.stock-list.fix-card .card-cont{padding:10px;box-sizing:border-box}
.stock-list.fix-card .fix-height-box{height:100%;padding-top:15px;box-sizing:border-box}
.stock-list.fix-card .sfp-grid th{text-align:center}

.fix-height-box .container-item-wrap{height:100%;width:100%}
.container-item-wrap{width:90%;height:450px;margin:0 auto;overflow:hidden;box-sizing:border-box;border:1px solid #a2a2a2}
.container-item-wrap .cell{display:block;float:left;border:1px solid #a3a3a3;cursor:pointer;box-sizing:border-box;text-align:center;font-size:14px;background:#efefef}
.container-item-wrap .cell.active{background-color:#0cd05f}
.container-item-wrap .cell.guide{background-color:rgba(198,229,253,1)}
.container-item-wrap .cell.guide.active{position:relative;color:#fff;background-color:#f93e6e}
.container-item-wrap .cell.guide.active:after{content:'';display:block;position:absolute;top:2px;left:2px;right:2px;bottom:2px;border:2px solid #fff}
.container-item-wrap .cell em:before{content:'';display:inline-block;height:100%;vertical-align:middle}

.picking-list.fix-card > ul{padding-bottom:10px}
.picking-list.fix-card > ul > li{width:49%;height:100%;border-radius:0;box-shadow:none;text-align:center;background:none}
.picking-list.fix-card > ul > li:first-child{width:24%}
.picking-list.fix-card > ul > li:last-child{width:24%}


footer button[class*="btn"].btn-call { width:92px; height:47px; font-size:16px; color:#FFF; background:url('../../../images/ilc/btn_call.png') right center no-repeat; background-size:44px 34px; text-align:left; padding-left:10px; margin:13px auto 0; border:none; }


/* */
h3.line { font-size:16px; color:#969696; width:100%; margin-right:10px; background:url('../../../images/ilc/bg_h3line.png') center center repeat-x;   }
h3.line span { padding-right:15px; background:#FFF; }


.tbl-cont { position:relative; margin-bottom:10px;  }
.tbl-cont + .tbl-cont { margin-bottom:20px; }

.shelf-inp { width:100%; margin:10px 0 10px;}
.shelf-inp input { width:100%; border:none; background:none; font-family:NotoSansKR; font-weight:500; font-size:32px; text-align:center; height:30px; }

.gr-sq-wrap { display:inline-block; width:100%; margin-top:15px;  }
.gr-sq-wrap a { display:inline-block; width:calc(50% - 16px); margin:0 7px;   }
.gr-sq-wrap .gr-sq { display:block; border:2px solid #bbbbbb; border-radius:5px; color:#959595; font-size:13px; font-family:NotoSansKR; font-weight:400; text-align:center; box-sizing:border-box; margin-bottom:10px; }
.gr-sq-wrap .gr-sq.on { border:3px solid #a0b5c7; border-radius:5px; background:#FFF; color:#a0b5c7; font-weight:700;   }
.gr-sq .cate1 { background:url('../../../images/ilc/img_shelf01_off.png') center 10px no-repeat; background-size:93px 56px; min-height:100px;  }
.gr-sq.on .cate1 { background:url('../../../images/ilc/img_shelf01_on.png') center 10px no-repeat; background-size:93px 56px;   }
.gr-sq .cate1 p { padding-top:70px; text-align:center;   }
.gr-sq .cate2 { background:url('../../../images/ilc/img_shelf02_off.png') center 10px no-repeat; background-size:93px 56px; min-height:100px;  }
.gr-sq.on .cate2 { background:url('../../../images/ilc/img_shelf02_on.png') center 10px no-repeat; background-size:93px 56px;  }
.gr-sq .cate2 p { padding-top:70px; text-align:center;  }

.gr-sq .type { min-height:55px; position:relative;  }
.gr-sq .type p { font-family:NotoSansKR; font-size:18px; font-weight:400; position:absolute; left:0; right:0; top:0; bottom:0; text-align:center; line-height:55px;   }
.gr-sq .type span { position:absolute; bottom:5px; right:10px; font-size:12px; font-weight:400; }

.gr-sq .item1 { background:url('../../../images/ilc/icon_shelf01.png') center 35px no-repeat; background-size:32px 42px; min-height:100px; box-sizing:border-box; position:relative;  }
.gr-sq .item1 p { text-indent:-5000em; border-top:1px solid #bbbbbb; padding:0 12px; position:absolute; top:18px; left:12px; width:calc(100% - 48px);  }
.gr-sq.on .item1 p { border-top:1px solid #a0b5c7; }
.gr-sq .item2 { background:url('../../../images/ilc/icon_shelf02.png') center 35px no-repeat; background-size:48px 31px; min-height:100px; box-sizing:border-box; position:relative;  }
.gr-sq .item2 p { text-indent:-5000em; border-top:1px solid #bbbbbb; padding:0 12px; position:absolute; top:18px; left:12px; width:calc(100% - 48px);     }
.gr-sq.on .item2 p { border-top:1px solid #a0b5c7;  }


 /* */
.layerPop { display:none; position:fixed; left:0; right:0; top:0; bottom:0; text-align:center; background-color:rgba(0, 0, 0, 0.5); z-index:999; }
.layerPop:before { content:""; display:inline-block; height:100%; vertical-align:middle;   }
.pop-layer { display:inline-block; vertical-align:middle; width:80%; background-color:#FFF;border-radius:5px; z-index:10; box-shadow:10px 10px 10px rgba(0,0,0,0.2); }

.layerPop.layerKeypad { display:block; position:fixed; left:0; right:0; top:0; bottom:0; text-align:center; background-color:rgba(0, 0, 0, 0.3); z-index:999; }
.layerPop.layerKeypad:before { content:""; display:inline-block; height:100%; vertical-align:middle; }
.layerPop.layerKeypad .pop-layer { display:inline-block; vertical-align:middle; width:290px; height:550px; border-radius:5px; z-index:10; background:transparent; box-shadow:none; }

.layerPop.layerKeypad.number{ display:none; }
.layerPop.layerKeypad.txt{ display:none; }
.layerPop.layerKeypad.float{ display:none; }


.layerPop.layerKeypad .pop-conts { position:relative;  }
.layerPop.layerKeypad .pop-conts header { height:41px; background:transparent; width:100%; position:relative; }
.layerPop.layerKeypad .pop-conts header .close-keypad { display:block; position:absolute; top:0; left:50%; margin-left:-20.5px; width:41px; height:41px; background:url('../../../images/ilc/icon_keypad_close.png') center top no-repeat; background-size:100% auto; text-indent:-5000em; }


.keypad { margin-top:15px; }
.keypad.number { width:290px; }
.keypad ul { text-align: center; }
.keypad .inp { margin-bottom:10px; border:1px solid #959595; border-radius:3px; height:90px; line-height:90px; box-sizing:border-box; background:#FFF; }
.keypad input[type='text'] { height:45px; font-size:40px; font-family:NotoSansKR; font-weight:300; width:calc(100% - 50px); color:#959595; text-align:right; margin:0 25px; padding-bottom:15px; background:#FFF; border:none; border-bottom:1px solid #959595; border-radius:0px;  }
.keypad .keybtn { font-size:40px; font-family:NotoSansKR; font-weight:300; color:#959595; display:inline-block; text-align:center; width:90px; height:90px; line-height:90px; margin-right:10px; border:1px solid #959595; background:#fff; box-shadow:none; border-radius:3px; overflow:hidden; vertical-align:middle; box-sizing:border-box; }
.keypad .keybtn.del { background:#FFF url('../../../images/ilc/keypad_delete.png') center center no-repeat; background-size:42px auto; text-indent:-5000em; }
.keypad .keybtn.ok { background:#FFF url('../../../images/ilc/keypad_enter.png') center center no-repeat; background-size:42px auto; text-indent:-5000em; }

.keypad .keybtn:HOVER { cursor: pointer; }
.keypad .keybtn:ACTIVE { background-color:#DDD; }
.keypad div { text-align:center; }

.keypad > ul > li { font-size:0; }
.keypad > ul > li > ul { margin-bottom:10px; }
.keypad > ul > li > ul > li:last-child { margin-right:0px;}
