// variables

// common.scss
$main-font:"notokr", "roboto", verdana, arial, sans-serif;
$main-text-color: #6f6f6f;
$secondary-text-color: #444;

// pages.scss
$body__bg-color: #d7d7d7;

// left_hidden_tree.scss
$toggle-menu-bg : #fff;