/*.keypad{display:none; position: absolute;z-index:999 ;background-color: #EEEEEE;width:155px;top:15%;left:45%;padding-top: 10px;border:3px solid;border-color:#AAA #999 #999 #AAA;border-radius:5px;overflow:hidden;vertical-align:middle;box-sizing:border-box;box-shadow: inset -3px -3px 3px #e3e3e3}
.keypad.number, .keypad.float{width:350px;}
.keypad.text{width:780px;left : 10%;}
.keypad ul {text-align: center;}
.keypad input[type='text']{margin-bottom:10px;font-size : 35px;width: 85%; height: 60px;}
.keypad .keybtn{font-size:40px;display:inline-block;text-align:center;width:90px;height:90px;line-height:90px; margin:5px;border:1px solid;border-color:#b8b8b8 #a0a0a0 #a0a0a0 #b8b8b8;background:#fff;box-shadow:inset -3px -3px 3px rgba(0,0,0,0.1);border-radius:5px;overflow:hidden;vertical-align:middle;box-sizing:border-box;}
.keypad .keybtn.wide{width:120px;}
.keypad .keybtn:HOVER {	cursor: pointer;}
.keypad .keybtn:ACTIVE{ background-color: #DDD;}
.keypad div {text-align: center;}*/
/* .keybtn.enter{width:100px;} */

.keypad-wrap { position:fixed; top:15%; bottom:0; left:50%; margin-left:-145px; z-index:999;  }
.keypad {display:none; padding-top:10px; overflow:hidden; vertical-align:middle; box-sizing:border-box; border:none; box-shadow:none; top: 0; }
.keypad.number, .keypad.float, .keypad.number_text { width:290px; }
.keypad.number, .keypad.float, .keypad.number_text { border:1px solid #bbb; background:#cecece;  }
.keypad.text { width:780px; left:10%; border:1px solid #bbb; background:#cecece; padding-bottom:3px;  }
.keypad ul {text-align:center; }
.keypad > div { margin:0px 7px 5px; border:1px solid #959595; border-radius:3px; height:90px; line-height:90px; box-sizing:border-box; background:#FFF; }
.keypad input[type='text'] { height:45px; font-size:25px; font-family:'10x10','NotoSansKR','roboto',verdana,arial, sans-serif; font-weight:300; width:calc(100% - 50px); color:#959595; text-align:right; margin:0 25px; padding-bottom:15px; background:#FFF; border:none; border-bottom:1px solid #959595; border-radius:0px; }
.keypad .keybtn { font-size:40px; font-family:'10x10','NotoSansKR','roboto',verdana,arial, sans-serif; font-weight:300; color:#959595; display:inline-block; text-align:center; width:88px; height:82px; line-height:82px; margin:3px; border:1px solid #959595; background:#fff; box-shadow:none; border-radius:3px; overflow:hidden; vertical-align:middle; box-sizing:border-box; }
.keypad .keybtn.del { background:#FFF url('../../../images/ilc/keypad_delete.png') center center no-repeat; background-size:42px auto; text-indent:-5000em; }
.keypad .keybtn.ok { background:#FFF url('../../../images/ilc/keypad_enter.png') center center no-repeat; background-size:42px auto; text-indent:-5000em; }
.keypad .keybtn[data-del="true"] { background:#FFF url('../../images/ilc/keypad_delete.png') center center no-repeat; background-size:42px auto; text-indent:-5000em; }
.keypad .keybtn[data-enter="true"] { background:#FFF url('../../images/ilc/keypad_enter.png') center center no-repeat; background-size:42px auto; text-indent:-5000em; }

.keypad.text .keybtn { font-size:40px; font-family:'10x10','NotoSansKR','roboto',verdana,arial, sans-serif; font-weight:300; color:#959595; display:inline-block; text-align:center; width:64px; height:64px; line-height:64px; margin:3px; border:1px solid #959595; background:#fff; box-shadow:none; border-radius:3px; overflow:hidden; vertical-align:middle; box-sizing:border-box; }
.keypad.text .keybtn.del { background:#FFF url('../../../images/ilc/keypad_delete.png') center center no-repeat; background-size:42px auto; text-indent:-5000em; }
.keypad.text .keybtn.ok { background:#FFF url('../../../images/ilc/keypad_enter.png') center center no-repeat; background-size:42px auto; text-indent:-5000em; }
.keypad.text .keybtn[data-del="true"] { background:#FFF url('../../images/ilc/keypad_delete.png') center center no-repeat; background-size:42px auto; text-indent:-5000em; }
.keypad.text .keybtn[data-enter="true"] { background:#FFF url('../../images/ilc/keypad_enter.png') center center no-repeat; background-size:42px auto; text-indent:-5000em; }



.keypad .keybtn:HOVER {	cursor: pointer;}
.keypad .keybtn:ACTIVE { background-color:#DDD; }
.keypad div {text-align:center;}

.keypad > ul > li { font-size:0; }
.keypad > ul > li > ul { margin-bottom:10px; }
.keypad > ul > li > ul > li:last-child { margin-right:0px;}
