@charset "utf-8";

@import "common/_var";
@import "common/_mixin";

/* layout */
body {
  background: $body__bg-color;
  scrollbar-face-color: #888;
  scrollbar-3dlight-color: $body__bg-color;
  scrollbar-darkshadow-color: $body__bg-color;
  scrollbar-shadow-color: #888;
  scrollbar-arrow-color: $body__bg-color;
  scrollbar-track-color: $body__bg-color;
}
main {
  display: flex !important;
  height: 100%;
}
main header ~ .contents-wrap {
  top: 0;
  padding-top: 34px;
}

/*header*/
body > header {
  position: relative;
  height: 40px;
  z-index: 50;
  background: #000000;
  background: -moz-linear-gradient(top, #000000 0%, #606163 100%);
  background: -webkit-linear-gradient(top, #000000 0%, #606163 100%);
  background: linear-gradient(to bottom, #000000 0%, #606163 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#606163',GradientType=0 );

  &:after {
    @include after;
  }
}

body > header h1 {
  padding-left: 10px;
  float: left;
  height: 40px;

  a {
    display: block;
    width: 85px;
    height: 100%;
    text-indent: -5000em;
    overflow: hidden;
    background: url("../images/logo/bi.png") no-repeat 0 center;
  }
  a.txt-logo {
    display: block;
    width: auto;
    padding: 1px 0 5px;
    text-indent: 0;
    line-height: 1.1;
    letter-spacing: 0.02em;
    overflow: visible;
    background: none;
    box-sizing: border-box;
    text-align: center;
    @include font-style(30px, 700, #e2134d);

    em {
      margin: 0;
      display: inline-block;
      font-size: 15px;
      letter-spacing: -0.01em;
    }
  }
}

.link-select {
  float: left;
  position: relative;
  margin: 7px 0 0 40px;
  padding-bottom: 5px;
  @include border-form(150px, 26px, 4px);
  border: 1px solid #707171;
  background-color: #fff;
  box-sizing: border-box;

  button {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: left;
    @include link-select-button;

    &:after {
      @include pseudo-class;
      top: 10px;
      right: 10px;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top-color: #707171;
    }
    &:focus:after {
      top: 6px;
      border-top-color: transparent;
      border-bottom-color: #707171;
    }
    &:focus + ul,
    .link-select ul:hover {
      display: block;
      top: 0;
    }
  }
}
.link-select ul {
  z-index: 11;
  display: none;
  position: absolute;
  padding-top: 24px;
  width: 148px;
}
.link-select li {
  border-left: 1px solid #707171;
  border-right: 1px solid #707171;
  background: #fff;

  &:last-child {
    border-bottom: 1px solid #707171;
  }
  a {
    display: block;
    @include link-select-button;

    &:hover {
      color: #fff;
      background-color: #707171;
    }
  }
}

/* gnb common */
header ~ nav ~ main,
header ~ main {
  height: calc(100% - 40px);
}

%1dep__hover-color {
  background-color: #fff;
  color: #6f6f6f;
}
nav li a:focus {
  @extend %1dep__hover-color;
}
nav li a[disabled] {
  cursor: default;
}
nav li:hover a {
  @extend %1dep__hover-color;

  &[disabled] {
    + ul,
    + .depth-btn + ul {
      display: none;
    }
    + .depth-btn {
      opacity: 0.4;
    }
  }
}

body > nav > ul > li {
  > a.on {
    background-color: #fff;
    color: #038390;
  }
  li {
    a.on {
      @include hover-color(#eaf5fb, #eaf5fb, #1e8bc3);
    }
    a.has-depth.on:after {
      background-position: 0 -20px;
    }
    &:hover a.on.has-depth {
      border-color: #e3f3f1;
      background-color: #e3f3f1;
      color: #16838a;

      &:after {
        background-position: 0 -10px;
      }
    }
    a.on:hover {
      border-color: #e3f3f1;
      background-color: #e3f3f1;
      color: #16838a;
    }
  }
  &:hover > a:after {
    @include pseudo-class;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: #f3f3f3;
  }
}

nav > ul li a.depth-btn {
  display: none !important;
}

%display-block {
  display: block;
}
nav > ul > li:hover > ul {
  @extend %display-block;
}

nav > ul ul li a {
  @include nav-2dep-a;
  padding: 0 35px 0 20px;

  &.has-depth:after {
    @include pseudo-class;
    top: 50%;
    width: 7px;
    height: 10px;
    margin-top: -5px;
    background: url("../images/icons/set_icon_lnbsub.png") no-repeat 0 0;
  }
}
%2dep__hover-color {
  color: #16838a;
  background-color: #e3f3f1;
}
nav > ul ul li:hover > a {
  @extend %2dep__hover-color;
  border-color: #e3f3f1;

  &.has-depth:after {
    background-position: 0 -10px;
  }
  &.has-depth[disabled]:after {
    background-position: 0 0;
  }
  &.depth-btn {
    @extend %2dep__hover-color;
  }
}
nav > ul ul li.on > a {
  @include hover-color(#e3f3f1, #e3f3f1, #16838a);
}

nav ul ul li:hover > ul {
  @extend %display-block;
}

body > header ~ nav {
  top: 40px;
}

body > nav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 95px;
  background-color: #fff;
  z-index: 40;

  > ul {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 95px;
    background-color: #f2f2f2;
    box-sizing: border-box;

    > li {
      display: table;
      width: 100%;
      min-height: 62px;

      %1dep-disabled__hover-color {
        color: #9d9d9d;
        background-color: #d7d5d5;
      }
      &:hover > a[disabled] {
        @extend %1dep-disabled__hover-color;
      }
      > a {
        z-index: 5;
        position: relative;
        display: table-cell;
        height: 100%;
        width: 100%;
        padding: 5px;
        line-height: 1.2;
        border-bottom: 1px solid #e4e4e4;
        vertical-align: middle;
        box-sizing: border-box;
        word-break: keep-all;
        text-align: center;
        @include font-style(14px, 500, #a4a4a4);

        &[disabled] {
          @extend %1dep-disabled__hover-color;
        }
      }
    }
  }
  li a[disabled] {
    opacity: 0.6;
  }
}

%2dep-disabled__hover-color {
  color: #5e5e5e;
  background-color: #fff;
}
body > nav > ul ul {
  z-index: 4;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  min-width: 176px;
  width: auto;
  box-sizing: border-box;
  background: #fff;
  white-space: nowrap;

  li a {
    @include nav-2dep-a;

    &[disabled] {
      @extend %2dep-disabled__hover-color;
    }
  }
}
body > nav > ul ul li:hover a[disabled] {
  @extend %2dep-disabled__hover-color;
}

/*top gnb*/
body > header > nav {
  float: left;
  margin-left: 20px;

  > ul:after {
    @include after;
  }
}
body > header > nav > ul > li {
  float: left;
  min-width: 100px;

  > a {
    z-index: 5;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0 5px;
    line-height: 40px;
    box-sizing: border-box;
    text-align: center;
    @include font-style(14px, 500, #fff);
  }
  &:hover {
    a[disabled] {
      color: #fff;
      background: none;
    }
    ul a[disabled] {
      @extend %2dep-disabled__hover-color;
    }
  }
}

body > header > nav li {
  position: relative;

  li:after {
    @include pseudo-class;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: #f3f3f3;
  }
  a[disabled] {
    opacity: 0.4;
  }
  a.on {
    background-color: rgba(0, 0, 0, 0.15);
  }
  &:hover a.on {
    background-color: #fff;
  }
}

body > header > nav > ul ul {
  z-index: 30;
  display: none;
  position: absolute;
  left: 0;
  top: 40px;
  min-width: 176px;
  width: auto;
  box-sizing: border-box;
  border-top: 1px solid #d7d7d7;
  background: #fff;
  white-space: nowrap;
  -webkit-box-shadow: 1px 2px 3px 0px rgba(97, 97, 97, 0.5);
  -moz-box-shadow: 1px 2px 3px 0px rgba(97, 97, 97, 0.5);
  box-shadow: 1px 2px 3px 0px rgba(97, 97, 97, 0.5);

  li:hover a[disabled] {
    @extend %2dep-disabled__hover-color;
  }
  ul {
    left: 100%;
    top: -1px;
  }
  li {
    &.on > ul {
      display: block;
    }
    &.on a.depth-btn:after {
      background-position: 0 -10px;
    }
    a.has-depth:after {
      right: 20px;
    }
  }
}

body > header > nav > ul > li:hover ul a[disabled] {
  @extend %2dep-disabled__hover-color;
}

/* util-menu */
.util-menu {
  position: absolute;
  right: 0;
  top: 0;

  &:after {
    @include after;
  }
  ul > li {
    float: left;
    border-left: 1px solid rgba(255, 255, 255, 0.1);

    time {
      margin-right: 10px;
      padding-left: 10px;
      line-height: 40px;
      color: #fff;
      font-size: 12px;
    }
  }
}

.util-menu > ul > li > a {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  text-align: right;

  &:hover {
    background-color: rgba(0, 0, 0, 0.15) !important;
  }
  > span {
    display: inline-block;
    text-indent: -5000em;
    text-align: left;
  }
  &.logout {
    background: url("../images/icons/icon_gnb_logout.png") center 10px no-repeat;
  }
  &.app-menu {
    position: relative;
    background: #e2134d url("../images/icons/icon_gnb_menu.png") center 12px
      no-repeat;
  }
  &.app-menu:focus {
    z-index: 103;

    + .app-menu-list {
      @extend %display-block;

      + .dimmed {
        @extend %display-block;
      }
    }
    &:hover {
      background-color: #e2134d !important;
    }
  }
  &.option {
    background: url("../images/btn/btn_setup_w.png") no-repeat 50% 50%;
  }
  > em {
    display: none;
    padding: 0 6px;
    @include font-style(12px, 500, #fff);
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #138dff;
  }
  &.on > em {
    display: inline-block;
  }
  &.notice > em {
    color: #fff;
  }
  &.notice.on {
    padding-left: 10px;
    background: url("../images/icons/icon_gnb_notice_on.png") no-repeat;
    background-position: 8px 10px;
  }
  &.alarm {
    background: url("../images/icons/icon_gnb_alarm.png") center 10px no-repeat;

    &.on {
      padding-left: 11px;
      background-image: url("../images/icons/icon_gnb_alarm_on.png");
      background-position: 8px 10px;
    }
  }
  &.user {
    background: url("../images/icons/icon_gnb_men.png") center 10px no-repeat;
  }
  &.mark {
    background: url("../images/icons/icon_btn_bookmark_w.png") no-repeat 50%;

    &.on {
      background-image: url("../images/icons/icon_btn_bookmark_on.png");
    }
  }
  &.bookmark {
    position: relative;
    background: url("../images/icons/icon_gnb_book.png") no-repeat 50%;

    &.on {
      background-image: url("../images/icons/icon_gnb_book_on.png");
    }
  }
  &.bookmark:focus + .bookmark-list,
  .bookmark-list:hover {
    display: block;
  }
}

.app-menu-list:hover {
  @extend %display-block;

  + .dimmed {
    @extend %display-block;
  }
}

.app-menu-list {
  display: none;
  z-index: 100;
  position: absolute;
  right: 5px;
  top: 55px;
  width: 180px;
  padding: 10px;
  border-radius: 6px;
  box-sizing: border-box;
  @include bg-color-shadow(#fff, 0 0 7px rgba(0, 0, 0, 0.3));

  &:before {
    @include pseudo-class;
    z-index: 1;
    top: -12px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #fff;
  }
  &:after {
    @include after;
  }
}
.app-menu-list li {
  float: left;
  width: 80px;
  height: 80px;
  margin-top: 10px;

  a {
    display: block;
    padding-top: 47px;
    @include border-form(100%, 100%, 4px);
    border: 1px solid #fff;
    text-align: center;
    background: #fff no-repeat center 17px;
    box-sizing: border-box;

    &:hover {
      background-color: #f2f2f2;
      border-color: #e7e7e7;
    }
    &.no-image {
      background: none;
    }
  }
  &:nth-child(1) a {
    background-image: url("../images/icons/icon_app_mes.png");
  }
  &:nth-child(2) a {
    background-image: url("../images/icons/icon_app_wms.png");
  }
  &:nth-child(3) a {
    background-image: url("../images/icons/icon_app_mdm.png");
  }
  &:nth-child(4) a {
    background-image: url("../images/icons/icon_app_vmi.png");
  }
  &:nth-child(5) a {
    background-image: url("../images/icons/icon_app_lms.png");
  }
  &:nth-child(6) a {
    background-image: url("../images/icons/icon_app_oee.png");
  }
  &:nth-child(7) a {
    background-image: url("../images/icons/icon_app_bom.png");
  }
  &:nth-child(8) a {
    background-image: url("../images/icons/icon_util_system.png");
  }
  &:nth-child(9) a {
    background-image: url("../images/icons/icon_util_setting.png");
  }
}
.app-menu-list ul {
  overflow: hidden;
  clear: both;

  + ul {
    margin-top: 10px;
    border-top: 1px solid #eaeaea;
  }
}
.dimmed {
  z-index: 99;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.7;
}

.bookmark-list {
  display: none;
  z-index: 100;
  position: absolute;
  right: 127px;
  top: 55px;
  min-width: 180px;
  min-height: 50px;
  padding: 10px;
  border-radius: 6px;
  box-sizing: border-box;
  @include bg-color-shadow(#fff, 0 0 7px rgba(0, 0, 0, 0.3));

  &:before {
    @include pseudo-class;
    z-index: 1;
    top: -12px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #fff;
  }
  &:after {
    @include after;
  }

  ul {
    max-height: 200px;
    overflow: auto;
  }
  li {
    position: relative;

    a {
      display: block;
      padding: 5px;
      font-weight: 500;

      &:hover {
        color: #078f98;
        background-color: #e3f3f1;
      }
    }
    + li {
      border-top: 1px dotted #b8b8b8;
    }
    > button {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -7px;
      @include border-form(12px, 12px, 50%);
      font-size: 0;
      background: #a1a1a1;
      box-sizing: border-box;

      &:before {
        content: "";
        display: block;
        width: 6px;
        height: 2px;
        margin: 0 auto;
        background: #fff;
      }
    }
  }
  p {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
  }
}

/* footer */
main footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 41px;
  padding: 0 40px 0 35px;
  border-top: 1px solid #a2a2a2;
  background: #f9f9f9;
  box-sizing: border-box;
}

/* main content area*/
.contents-wrap {
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  flex: 1 1 auto;

  > section {
    height: calc(100% - 41px);
    padding: 10px 10px 0 10px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;

    &:after {
      content: "";
      display: block;
      height: 10px;
    }
    &.no-after:after {
      display: none;
    }
  }
  &.no-footer > section {
    height: 100%;
  }
  + .contents-wrap > section {
    padding-left: 20px;
  }
}

.shuttle-box {
  h4 {
    margin: 10px 0;
  }
  img {
    width: 100%;
  }
  .btn-wrap {
    padding-top: 10px;
    text-align: center;
  }
}
.shuttle-box .list-style {
  height: 156px;
  padding: 5px;
  border: 1px solid #666;
  box-sizing: border-box;

  li {
    margin-top: 5px;
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc;
  }
  &:last-child {
    border: 0;
  }
}

.oee-group-list.fix-card {
  margin-top: 10px;

  > ul {
    padding-bottom: 10px;
  }
  h3.fix-title {
    font-size: 14px;
  }
  .card-cont {
    height: 213px;
  }
}

/* aside-main */
.main-wrap .contents-wrap {
  padding-top: 0;

  + .contents-wrap:before {
    display: none;
  }
  > section:after {
    display: none;
  }
}

.contents-wrap[class*="aside-"] {
  flex-grow: 0;
  flex-shrink: 0;
  background: #fff;
  box-shadow: -2px 0 3px rgba(0, 0, 0, 0.1);

  + .contents-wrap {
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .aside-title {
    padding-bottom: 6px;
    border-bottom: 1px solid #c1c1c1;
    @include font-style(14px, 700, #333);
  }
  .aside-inner {
    margin-top: 20px;
  }
  > section {
    overflow: auto;
    padding-right: 20px;
  }
  select {
    border: 1px solid #d0d0d0;
  }
}

.contents-wrap + .contents-wrap[class*="aside-"]:before,
.contents-wrap[class*="aside-"] + .contents-wrap:before {
  display: none;
}

.contents-wrap.aside-main {
  flex-basis: 415px;
}
.contents-wrap.aside-search {
  flex-basis: 394px;
}

.aside-search .tab-content {
  padding: 20px 0;
  border: 0;
  font-size: 0;

  select + select {
    margin-left: 1%;
  }
}

.aside-search .period {
  display: block;
  margin-top: 10px;

  input.calendar {
    width: 50%;
  }
}

.aside-search .list-title {
  position: relative;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  background: #4b4e51;

  > label {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -8px;
  }
}

.aside-search .list-style {
  height: 300px;
  box-sizing: border-box;
  border: 1px solid #d0d0d0;

  input[type="checkbox"] + .check-mark {
    padding-left: 20px;
  }
  li a {
    @include height(35px);
  }
}

.aside-search .btn-area {
  text-align: center;
}

.contents-wrap.aside {
  &-w300 {
    flex-basis: 300px;
  }
  &-timeline,
  &-tagon {
    flex-basis: 340px;
  }
  &e-monitoring-sws {
    flex-basis: 512px;
  }
}

.main-left {
  height: calc(100% - 20px);

  li {
    height: 33.33%;

    h3 {
      @include height(26px);
    }
  }
  .col-wrap .percent-value {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }
}
.main-left > li {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;

  &:last-child {
    border: 0;
  }
}

.main-left .list-style.type2 li {
  &:first-child .status {
    background-color: #0b96d1;
  }
  &:nth-of-type(2) .status {
    background-color: #3c535b;
  }
  &:last-child .status {
    background-color: #bed8e1;
  }
}

.main-wrap section > .top-area {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 200px;
  padding: 20px 30px;
  border-bottom: 1px solid #c1c1c1;
  box-sizing: border-box;

  > ul {
    height: 100%;
    border-radius: 5px;
    background: #fff;
  }
  + .fix-card {
    padding-top: 200px;
    height: 100%;
    box-sizing: border-box;
  }
}

.main-wrap .top-area > ul {
  font-size: 0;

  > li {
    display: inline-block;
    width: 33.33%;
    height: 100%;
    padding: 15px 20px;
    font-size: 12px;
    box-sizing: border-box;

    + li {
      border-left: 1px solid #cdcdcd;
    }
  }
}

.main-wrap .top-area .list-style {
  display: inline-block;
  width: 100%;

  li > .left {
    width: 58%;
  }
  &.type2 li > .left:after {
    display: none;
  }
}

.main-wrap .top-area .bar-graph + div {
  width: 45%;
  padding-left: 10px;
}

.main-wrap .bottom-area.fix-card {
  > ul {
    height: 100%;
    box-sizing: border-box;
    margin-right: -15px;
    margin-top: -10px;
    overflow-y: auto;

    > li {
      height: 30.5%;
      padding: 10px;
    }
  }
  li h4 {
    font-weight: 500;
  }
  li .percent {
    width: 110px;
  }
}

.main-wrap .bottom-area .list-style.type2 li {
  > .left:after {
    display: none;
  }
  > .right {
    width: 60%;
    @include line-break;
  }
}

.main-wrap .bottom-area .empty .graph-area {
  background: url("../images/chart/bg_circle_nul.png") no-repeat 50%;
}

/* error */
.contents-wrap.error {
  padding-top: 140px;
  text-align: center;

  h2 {
    margin-bottom: 16px;
    padding-top: 150px;
    font-size: 80px;
    font-family: "roboto";
    font-weight: 700;
    background: url("../images/icons/editor_icon_starving.png") no-repeat 50% 0;
  }
  p {
    margin-bottom: 40px;
    font-size: 30px;
  }
  button[class*="wide"] {
    min-width: 100px;
    font-size: 16px;
    border-radius: 15px;
  }
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
    -ms-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

.contents-wrap.error-type2 {
  padding: 300px 0 0 750px;
  text-align: left;

  h2 {
    position: relative;
    margin-bottom: 16px;
    font-size: 20px;
    font-family: "roboto";
    font-weight: 700;

    em {
      color: #e51c22;
    }
    &:before {
      @include pseudo-class;
      left: -80px;
      top: -10px;
      @include border-form(60px, 60px, 50%);
      background: url("../images/icons/icon_error.png") no-repeat 0 0;
      background-size: 100% auto;
    }
  }
  p {
    margin-bottom: 20px;
    font-size: 14px;
  }
  button + button {
    margin-left: 10px;
  }
}

/* grid - 예외 */
.sfp-grid-body-panel {
  background: #efefef !important;
}

/* title-bar */
main > header {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  color: #6f6f6f;
  @include height(34px);
  @include bg-color-shadow(#fff, 0 0 3px 0 rgba(0, 0, 0, 0.3));

  h2 {
    float: left;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
  }
  span {
    display: inline-block;
    position: relative;
    margin-left: 18px;
    vertical-align: top;
    @include font-style(11px, 500, #777);

    &:before {
      @include pseudo-class;
      left: -9px;
      top: 50%;
      width: 1px;
      height: 12px;
      margin-top: -6px;
      background: #5f6162;
    }
  }
  .btn-wrap {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;

    &:after {
      @include after-style;
    }
    button {
      vertical-align: middle;
    }
  }
  .function-area {
    position: absolute;
    @include height(48px);
    padding: 0;
    top: 7px;
    left: 15px;
    align-items: flex-start;
  }
}

/* login */
.login-box {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -210px 0 0 -200px;
  padding: 40px 50px;
  text-align: center;
  @include border-form(400px, 420px, 5px);
  @include bg-color-shadow(#faf8f4, 0 2px 8px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;

  h1 {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    @include height(55px);
    font-family: "roboto";
    text-align: center;
    @include font-style(27px, 700, #e2134d);

    strong {
      font-size: 34px;
    }
    span {
      position: absolute;
      top: -20%;
      right: 0;
      font-family: "roboto";
      @include font-style(11px, 400, #999);
    }
    em {
      font-family: "roboto";
      @include font-style(12px, 400, #999);
    }
  }
  button {
    margin-top: 30px;
    font-family: "roboto";
    text-align: center;
    @include border-form(100%, 50px, 3px);
    @include font-style(15px, 500, #fff);
    background-color: #6c7a89;
    box-sizing: border-box;
  }
}

.login-box .alert {
  display: none;
  width: 0;
  margin-top: 15px;
  line-height: 35px;
  color: #fff;
  background: rgba(255, 0, 0, 0.6);

  &.on {
    display: block;
    width: 100%;
    animation: slide-down 0.3s ease-out;
    -webkit-animation: slide-down 0.3s ease-out;
    -moz-animation: slide-down 0.3s ease-out;
    -ms-animation: slide-down 0.3s ease-out;
  }
}

.login-box .info {
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 40px;
  color: #777;
  margin-top: 25px;
  font-size: 11px;
  text-align: left;
  line-height: 1.4;

  a {
    position: absolute;
    top: 0;
    display: block;
    @include border-form(30px, 30px, 3px);
    text-indent: -5000em;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #d8d8d8 #b8b8b8 #b8b8b8 #d8d8d8;
    box-shadow: inset -1px -1px 0 0 rgba(0, 0, 0, 0.1);
    background: #fff url("../images/btn/set_btn_logindesc.png") no-repeat;
    cursor: pointer;

    &.ie {
      right: 0;
      background-position: 0 -31px;
    }
    &.chrome {
      right: 34px;
      background-position: 0 -1px;
    }
  }
}

.login-box .login-cont {
  text-align: left;

  &:after {
    @include after;
  }
  .option {
    position: relative;
    text-align: right;
  }
  label {
    position: absolute;
    left: 0;
    top: 4px;

    .check-mark {
      padding-left: 18px;
      color: #999;
    }
  }
  input[type="text"],
  input[type="password"] {
    display: block;
    width: 100%;
    height: 46px;
    margin-top: -1px;
    font-size: 13px;
  }
  input[type="text"] {
    border-radius: 2px 2px 0 0;
  }
  input[type="password"] {
    border-radius: 0 0 2px 2px;
    margin-bottom: 8px;
  }
  select {
    width: 130px;
    @include height(30px);
    border: 1px solid #d0d0d0;
  }
}

/* Mobile login */
@media (max-width: 399px) {
  .login-box {
    left: 10px;
    width: calc(100% - 20px);
    margin-left: 0;
    padding: 40px 10px;
    border-radius: 0;
    box-sizing: border-box;

    h1 {
      font-size: 24px;
    }
    .info {
      left: 10px;
      right: 10px;
    }
  }
}

/* index page */
main.index-page {
  position: relative;
}
nav ~ main .index-bg {
  left: 95px;
}

.index-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: url("../images/index_bg.jpg") no-repeat 0 0;
  background-size: cover;

  &:after {
    z-index: 3;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  .logo {
    z-index: 10;
    display: inline-block;
    width: 100px;
    height: 124px;
    padding-bottom: 40px;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
    background: url("../images/logo/logo_studio3s_big.png") no-repeat 0 0;
    background-size: 100% auto;
  }
  .logo-wrap {
    display: block;
    text-align: center;
  }
  .index-copy {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include font-style(40px, 500, #e5e5e5);
  }
}

/* card-layout */
.card-area {
  height: 100%;

  .card-inner {
    border: 0px;

    .card-cont {
      padding-right: 15px;
    }
  }
  .card-wrap {
    padding: 10px;
  }
  &.half-height {
    height: 50% !important;
  }
  button + button {
    margin-left: 5px;
  }
}

.function-area + .card-area,
.no-footer .function-area + .card-area {
  height: calc(100% - 80px);
}

.no-footer .card-area {
  height: calc(100% - 20px);
}

.card-wrap {
  .card-inner {
    padding-left: 20px;
  }
  &.no-title .card-inner {
    padding-top: 20px;
  }
}

.card-area + div[id^="grid"],
div[id^="grid"] + .card-area {
  margin-top: 20px;
}

/* card type2 */
.card-area.type2 .card-inner {
  overflow: hidden;

  h3 {
    top: 10px;
    padding-left: 20px;
    font-weight: 700;
    font-size: 25px;
    border: 0;

    .status {
      position: absolute;
      top: 50%;
      right: 20px;
      margin-top: -7px;
    }
  }
  .card-cont,
  .card-cont {
    padding: 0;
  }
}

.card-area.type2 .card-cont li {
  padding-right: 40px;
  text-align: right;
  font-size: 16px;
}

.card-area.type3 .card-inner {
  padding: 20px 10px;
}

.card-area.type3 .card-cont {
  .sec-left {
    width: 60%;
  }
  .sec-right {
    width: 40%;
  }
  strong {
    display: block;
  }
  li {
    padding-right: 10px;
    font-size: 16px;

    &:nth-child(3) strong {
      color: #64b8e2;
    }
    &:nth-child(4) strong {
      color: #fa3a3a;
    }
  }
}

/* card type4*/
.card-area.type4 .card-wrap .card-inner {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.card-area.type4 .card-inner .card-cont {
  padding-right: 0;
}
